#myUL {
    margin-top: 65px;
}

#myUL li {
    cursor: text;
    white-space: pre-wrap;
    word-break: break-word;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    overflow: auto;
    max-height: 360px;
    margin-left: 10%;
    margin-right: 3%;
    margin-top: 10px;
    font-size: medium;
    font-family: 'Roboto Condensed', sans-serif;
}

span.close {
    position: relative;
    display: block;
    margin-left: 98%;
    cursor: pointer;
}

@media (max-width: 820px) {
   span.close {
       margin-left: 95%;
    }
}

#myUL li:hover {
    -webkit-box-shadow: 2px 2px 8px 3px #ccc;;
    box-shadow: 2px 2px 8px 3px #ccc;
}
