.nav-item1 {
    color: #fff;
}

div.button {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

.light-mode {
    color: #333;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dark-mode {
    color: #fff;
    background-color: #333;
    border: 3px solid #333;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button {
    outline-color: transparent;
}

div span.material-icons {
    position: relative;
    top: 60px;
    left: 95%;
}

section textarea {
    background-image: url('editorruler.png');
    background-color: #333;
    color: #fff;
    font-family: monospace;
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color: #ccc;
    resize: none;
    display: flex;
    margin-top: 30px;
    font-family: monospace;
    font-weight: 500;
    font-size: medium;
    overflow-y: auto;
    width: 90%;
    height: 200px;
    margin: auto;
}

section {
    display: none;
}

section textarea:focus {
    outline-color: transparent;
}
